body {
  font-family: 'Nunito', sans-serif;
  padding-top: 30px;
}

h1 {
  display: block;
  font-weight: 300;
  font-size: 48px;
  margin-bottom: 0;
  margin-left: -5px;
  }

.appname {
  font-weight: 600;
}

.mobile-screenshot {
  display: none;
}

.intro-box {
  text-align: left;
}

.intro-link {
    font-weight: 500;
  }

.intro {
    font-size: 18px;
    font-weight: 400;
  }

.sub {
    font-size: 14px;
    font-weight: 300;
  }

.caption {
    margin-bottom: 2em;
    font-size: 13px;
    line-height: 16px;
    color: #a8a8a8;
    font-weight: 400;
  }

.row {
    margin-bottom: 3em;
  }

.profile {
    height: 177px;
    float: right;
    border-radius: 50%;
    margin-top: 11px;
  }

  .actions {
    margin-top: 1.2em;
  }

  .actions a {
    color: #4aaef7;
    font-size: 14px;
    line-height: 17px;
    font-weight: 700;
    text-decoration: none;
    display: inline-block;
    margin-right: .9em;
    padding: 6px 8px;
    border: 2px solid #4aaef7;
    border-radius: 3px;
    transition: 0.3s all ease;
}

.actions > a:hover {
  color: white;
  background-color: #4aaef7;
  transform: scale(1.12);
}

.project {
  text-align: right;
}

.screenshot {
  width: 93%;
  transition: 0.3s transform ease;
}

.screenshot:hover {
  transform: scale(1.03);
}

@media (max-width: 991px) {
  .project {
    text-align: left;
    }
    .screenshot {
      width: 97%;
    }
}

@media (max-width: 800px) {
  .profile {
    height: 175px;
    margin: .75em;
    }
}

@media (max-width: 580px) {
  .profile {
    height: 125px;
    }
}

@media (max-width: 992px) {
  .desktop-screenshot {
    display: none;
    }

  .mobile-screenshot {
      display: inline;
    }

    .row {
      margin-bottom: 2.5em;
    }
}

@media (max-width: 370px) {
  .profile {
    height: 110px;
    }

    .row {
      margin-bottom: 1.5em;
    }
}
